
         h1
         {
             text-align: center;
             color:#025157;
         }
         b,strong
         {
             color: #8b8b8bcc;

         }
         button
         {
             background-color: #025157;
             color: #fff;
         }
         body
         {
             background-color: #f8cda3;
         }
    