h1 {
  text-align: center;
  color: #025157;
}
b,
strong {
  color: #8b8b8bcc;
}
button {
  background-color: #025157;
  color: #fff;
}
body {
  background-color: #f8cda3;
}
.img1 {
  width: 50px;
  height: 50px;
}
.header{
    /* height:100px;
    width :100% ;
  display: inline-flex; */
  /* margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px; */ 
    /* margin:40px ;    //?  todos los lados  */
    /* margin:40px  20px ;    //?  altura y ancho   */
    /* margin:40px 0px 20px ;    //?  arriba lados abajo  */
  margin:40px 20px 0px 20px  ; /* //? arriba,derecha,abajo,izquierda */ 
  font-size: 0;
}
.header > *
{
  display: inline-block;
  font-size: 16px;
  /* align-self:center; */
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}
.logo
{
 width: 15%;
}
.logo > img
{
 width: 15%;
}

.navbar
{
  width: 66%;
  text-align: left;
  color: #025157;
  font-weight: 500;
  font-style: sans-serif;
  height: 45px;
 
}
.actions
{
  width: 15%;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  margin: 0 25px;
}
.actions a
{
  color: #67b54b;
}
.actions button
{
  color: #fff;
  background-color:#67b54b;
  padding: 12px 14px;
  border: none;
  border-radius: 5px;
}
li
{
  display:inline;
  margin: 0 25px;
  color: #025157;

}
.main
{
  padding-bottom:270px;
  text-align: center;
}
/* .lis {
    width: 80%;
    height: 53px;
    flex: none;
    display: flex;
    /* background: brown; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
} 
*/
/* .nav {
    width: 100%;
    height: 53px;
    flex: none;
    display: flex;
    /* background: green; 
    align-items: center;
} */
